.main-menu > li > a{
  padding: 0 !important;
}

.site-header.fixed-header .main-menu li a{
  padding: 0 !important;
  color: #000;
}

.site-header.fixed-header {
  background-color: #fff;
}

.header-widgets .right-menu .menu-search a {
  background-color: #000;
  color: #fff;
}

.desc{
  font-size: 18px;
  line-height: 30px;
  text-align: justify;
}
.center{
  text-align: center;
}

.mobile-menu li a{
  margin: 0 30px !important;
  color: #36334c !important;
}

.mobile-menu > li > a{
  padding: 0 !important;
}

.w-10 {
    width: 10%;
    margin: 0 auto;
}

.w-17 {
    width: 17% !important;
    margin: 0 auto !important;
}
